body {
    margin: 0;
    height: 100vh;
    background: cyan;
}


.containerZero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#firstMessage {
    font-size: 50px;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out;
}

#secondMessage {
    font-size: 50px;
    font-weight: bold;
    animation: fadeIn 6s ease-in-out;
}

#thirdMessage {
    font-size: 50px;
    font-weight: bold;
    animation: fadeIn 8s ease-in;
}

#fourthMessage {
    font-size: 50px;
    font-weight: bold;
    animation-delay: 5s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    


.containerOne {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxHolder {
    display: flex;
    flex-direction: row;
}

.rbox, .pbox, .sbox {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: black;
    transition: 0.5s;
}

.rbox:hover, .pbox:hover, .sbox:hover {
    border: blue 1px solid;
    transform: scale(1.2);
}

.containerThree {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 110px;
}

.pep, .comp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

#fMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}



#tMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    color: white;
    font-size: 2em;
    text-align: center;
}

  

