body {
    margin: 0;
    height: 100vh;
    background-color: black;
}


.containerZero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background:url('images/virus.gif');
    margin: 0;
    height: 100vh;
}

#firstMessage, #secondMessage, #thirdMessage {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#firstMessage {
    position: relative;
    opacity: 0;
    left: -100px; 
    animation: slideIn 1.5s forwards; 
    animation-delay: 1s; /
}


#secondMessage {
    position: relative;
    opacity: 0;
    left: -100px; 
    animation: slideIn 1.5s forwards; 
    animation-delay: 2.5s; /
}   


@keyframes slideIn {
    0% {
        opacity: 0;
        left: -100px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
#thirdMessage {
    position: relative;
    opacity: 0;
    left: 100px;
    animation: slideIn 1.5s forwards; 
    animation-delay: 3.5s;     
}


#fourthMessage {
    position: relative;
    opacity: 0;
    left: 100px;
    animation: slideIn 1.5s forwards; 
    animation-delay: 5s;  
}


.containerOne {
    display: flex;
    justify-content: center;
    height: 25vh;
    align-items: center;
}

.fText {
    color: white;
}

.containerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

.rbox, .pbox, .sbox{
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: 1px solid white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

.rbox img, .sbox img, .pbox img {
    width: 100%;
    height: 100%;
}

.rbox:hover, .pbox:hover, .sbox:hover {
    border: greenyellow 1px solid;
    transform: scale(1.2);
}


.containerThree {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 110px;
}

.pep, .comp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cScore, #pScore {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#fMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}



#tMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(56, 112, 231, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    color: white;
    font-size: 2em;
    text-align: center;
}

#t2Message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(179, 48, 48, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    color: white;
    font-size: 2em;
    text-align: center;
}


