body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(lightblue , black);
}

.containerOne {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTwo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxHolder {
    display: flex;
    flex-direction: row;
}

.rbox, .pbox, .sbox {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: black;
    transition: 0.5s;
    
}

.rbox:hover, .pbox:hover, .sbox:hover {
    border: blue 1px solid;
    transform: scale(1.2);
}

.containerThree {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 110px;
}

.pScore, .cScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}


